*{
    padding: 0;
    margin: 0;
}
.navBar{
    background-color: rgb(30, 29, 29);
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.logoimg{
    width: 111px;
}
.items{
    list-style: none;
    margin-right: 12px;
     text-transform: uppercase;
     cursor: pointer;
}

.menus{
    display: flex;
}
/* navber section  end  */
/* bannar section start */
.bannarimg{
    width: 300px;
}
.bannarcontainer{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("../img/background.png"), linear-gradient(#191717, #000);
}
.exploer{
    background-color: red;
    color: white;
    padding: 12px 19px ;
    margin-top: 19px;
    
}
.bannar-text h2{
    font-size: 44px;
    line-height:50px ;
    margin-bottom: 15px;
}
.bannar-text p{
    font-size: 1;
}
.aboutText{
    text-align: center;
    text-transform: capitalize;
    margin-top: 44px;
    font-size: 35px;
}
.aboutContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentAbout h3{
    font-size: 30px;
}
.contentAbout p{
    font-size: 22px;
}
/* bannar section end */
/* about section start */
.services{
    background-image: url('/img/background.png'), linear-gradient(#312f2f,#000);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 22px;
    padding-bottom: 22px;
}
.serbox h3{
    margin-top: 14px;

}
.servisbutton{
    background-color: red;
    color: white;
    padding: 12px 19px ;
    margin-top: 19px;


}
.ourServices{
    text-align: center;
    font-size: 50px;
    padding: 33px;
    color: white;
}
.mainservices{
    display: flex;
    justify-content: space-around;
}
.serbox{
    width: 220px;
    height: 220px;
    padding: 50px 12px 88px 12px ;
    background-color: #282727;
    color: white;
    text-align: center;
    
}
.boximg{
    width: 100px;
    height: 80px;
}

